<% for(c=0;c < contactList.length;c++) { %>
  
  <html>
  <head><meta charset='utf-8'></head>
  <body>
    <p>Hey <%= contactList[c].firstName %>,</p>
    
    <br>
    <p>
      How's it going?  Well, I hope! So I'm taking a 6 months course at Fullstack Academy it's Looking good so far. I'm blogging about the the stuff I'm learning. Hope you enjoy the spin I've put on it. 
    </p>
      <p>
    Here's a list of this week posts
    <ul>
      <% for(var i=0; i<latestPosts.length; i++) {%>
         <li><a href=<%= latestPosts[i].post_url %>> <%= latestPosts[i].title %></a>  </li>
      <% } %>
    </ul>
  </p>
    <p>
      Laters<br>
          KOB

    </p>
  </body>
  </html>
  <% } %>
  